<!DOCTYPE html>
<html>
    <head>
        
        
        <title>Project 2</title>
    </head>
    <body>
        <h>Uploading image...</h>
        <form method=post enctype=multipart/form-data>
          <p><input type=file name=file>
             <input type=submit value=Upload>
        </form>
        {% if filename %}
        <img src="../static/uploads/{{ filename }}" />
        {% endif %}
        {% if newFile %}
        <img src="../static/{{ newFile }}" />
        {% endif %}
    </body>
</html>