 <!--CST 205 Section 2-->
 <!--index.html-->

 <!--Main web page to get information for conversion-->

 <!--Maria Loza-->

 <!--15 March 2017-->

<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <title>Project 2</title>
    </head>
    <body>
        <h>Uploading image...</h>
        <form method=post enctype=multipart/form-data>
            {% if error %} <p>{{error}}</p> {% endif %}
            <p>Try 400 400 .005 2 for an overlapping circle image, 400 400 .01 1 for normal</p>
            <p>Higher values will take longer but will generate more complex and detailed images</p>
            <p>Steps (recommended: 400): <input type=number size=30 name=steps> New Count (recommended: 400): <input type=number size=30 name=count> Radius (recommended: 0.01): <input type=number step="any" min="0" size=30 name=radius> Overlap value (1 for none, 2 for max): <input type=number min="1" max="2" size=30 name=overlap></p>
          <p><input type=file name=file>
             <input type=submit value=Upload>
        </form>
        {% if filename %}
        <img id="maxW" src="../static/uploads/{{ filename }}" />
        {% endif %}
        {% if newFile %}
        <img id="maxW" src="../static/circlePacked/{{ newFile }}" />
        {% endif %}
    </body>
</html>